<link rel="stylesheet" href="/css/integram-table.css?{_global_.version}">
<link rel="stylesheet" href="/css/procvac.css?{_global_.version}">
<script src="/js/integram-table.js?{_global_.version}" defer></script>
<script src="/js/procvac.js?{_global_.version}" defer></script>

<div id="procvac-app" class="procvac">
    <div class="procvac-toolbar">
        <button id="procvac-add-vacancy" class="procvac-add-vacancy" type="button" title="Добавить вакансию" aria-label="Добавить вакансию">
            <i class="pi pi-plus"></i>
        </button>
        <div class="procvac-search">
            <i class="pi pi-search"></i>
            <input id="procvac-search" type="search" placeholder="Быстрый поиск" autocomplete="off" aria-label="Быстрый поиск">
        </div>
    </div>
    <div id="procvac-grid" class="procvac-grid">
        <div class="procvac-loading"><span class="procvac-spinner"></span>Загрузка...</div>
    </div>
</div>
