<h3>Пользовательские отчеты</h3>
<table class="table table-bordered">
<tr style="background-color:#f9f9f9;">
<th>Отчет</th><th>Описание</th>
</tr>
<!-- Begin:Пользовательские -->
<tr>
<td><a href="/{_global_.z}/query/{ЗапросID}">{Запрос}</a></td><td>{Описание}</td>
</tr>
<!-- End:Пользовательские -->
</table>
<h3>Формы</h3>
<table class="table table-bordered">
<tr style="background-color:#f9f9f9;">
<th>Наименование</th><th>Описание</th>
</tr>
<!-- Begin:Формы -->
<tr>
<td>{Вычисляемое}</td><td>{Описание}</td>
</tr>
<!-- End:Формы -->
</table>
