<div class="tasks-container">
    <div id="tasks-table"
         data-integram-table
         data-api-url="/{_global_.z}/report/{_global_.id}?JSON"
         data-page-size="20"
         data-cookie-prefix="tasks-table"
         data-title=""
         data-instance-name="tasksTable"></div>
</div>
<link rel="stylesheet" href="/css/integram-table.css" />
<script src="/js/column-name-dict.js"></script>
<script src="/js/integram-table.js"></script>
<script>
(function() {
    var fake = document.createElement('div');
    fake.style.cssText = 'position:absolute;left:-9999px;opacity:0;pointer-events:none;';
    fake.innerHTML = '<input type="text" name="fake_username" value=""><input type="password" name="fake_password" value="">';
    document.body.appendChild(fake);
})();
</script>
