<!-- Рабочее место atex «Расчёт резки» (роль Диспетчер). -->
<!-- Часть epic ideav/atex#52, подзадача B. См. docs/atex_workplaces.md §3.x -->
<!-- и docs/WORKSPACE_DEVELOPMENT_GUIDE.md. URL: /atex/cut-planning -->
<link rel="stylesheet" href="/download/{_global_.z}/css/atex-brand.css?0{_global_.version}">
<link rel="stylesheet" href="/download/{_global_.z}/css/cut-planning.css?0{_global_.version}">
<div id="atex-cut-planning"
     class="atex-cp atex-brand"
     data-db="{_global_.z}"
     data-xsrf="{_global_.xsrf}"
     data-user="{_global_.user}">
    <div class="atex-cp-loading">Загрузка расчёта резки…</div>
</div>
<script src="/download/{_global_.z}/js/ref-search.js?0{_global_.version}" defer></script>
<script src="/download/{_global_.z}/js/cut-planning.js?0{_global_.version}" defer></script>
