<!-- Рабочее место atex «Выгрузка/Загрузка заказов и заданий». -->
<!-- Решение ideav/crm#4308. См. docs/WORKSPACE_DEVELOPMENT_GUIDE.md. URL: /atex/export -->
<link rel="stylesheet" href="/download/{_global_.z}/css/atex-brand.css?0{_global_.version}">
<link rel="stylesheet" href="/download/{_global_.z}/css/export.css?{_global_.version}.1">
<div id="atex-export"
     class="atex-exp atex-brand"
     data-db="{_global_.z}"
     data-xsrf="{_global_.xsrf}"
     data-user="{_global_.user}">
    <div class="atex-exp-loading">Загрузка рабочего места выгрузки…</div>
</div>
<script src="/download/{_global_.z}/js/export.js?{_global_.version}.1" defer></script>
