<!-- Рабочее место atex «Календарь занятости станков» (роли Руководитель, Диспетчер). -->
<!-- Решение ideav/crm#3339. Календарь вынесен из «Планирования производства» -->
<!-- (#3334/#3335, откат #3338) в отдельное полноэкранное РМ. URL: /atex/machine-calendar -->
<link rel="stylesheet" href="/download/{_global_.z}/css/atex-brand.css?0{_global_.version}">
<link rel="stylesheet" href="/download/{_global_.z}/css/machine-calendar.css?0{_global_.version}">
<div id="atex-machine-calendar"
     class="atex-mc atex-brand"
     data-db="{_global_.z}"
     data-xsrf="{_global_.xsrf}"
     data-user="{_global_.user}">
    <div class="atex-mc-loading">Загрузка календаря занятости станков…</div>
</div>
<script src="/download/{_global_.z}/js/ref-search.js?0{_global_.version}" defer></script>
<script src="/download/{_global_.z}/js/machine-calendar.js?0{_global_.version}" defer></script>
