<!-- Рабочее место atex «Упаковка» (роль Оператор, планшет). -->
<!-- Решение ideav/crm#4658. См. docs/atex_workplaces.md §3.13 -->
<!-- и docs/WORKSPACE_DEVELOPMENT_GUIDE.md. URL: /atex/packer -->
<link rel="stylesheet" href="/download/{_global_.z}/css/atex-brand.css?0{_global_.version}">
<link rel="stylesheet" href="/download/{_global_.z}/css/packer.css?{_global_.version}.2">
<div id="atex-packer"
     class="atex-pk atex-brand"
     data-db="{_global_.z}"
     data-xsrf="{_global_.xsrf}"
     data-user="{_global_.user}"
     data-user-id="{_global_.user_id}">
    <div class="atex-pk-loading">Загрузка рабочего места упаковщика…</div>
</div>
<script src="/download/{_global_.z}/js/packaging-size.js?{_global_.version}.1" defer></script>
<script src="/download/{_global_.z}/js/packer.js?{_global_.version}.2" defer></script>
