<!-- Рабочее место atex «Пульт втулкореза» (роль Оператор, планшет). -->
<!-- Решение ideav/crm#2916 (часть #2903). См. docs/atex_workplaces.md §3.6 -->
<!-- и docs/WORKSPACE_DEVELOPMENT_GUIDE.md. URL: /atex/sleeve-cutter -->
<link rel="stylesheet" href="/download/{_global_.z}/css/atex-brand.css?0{_global_.version}">
<link rel="stylesheet" href="/download/{_global_.z}/css/sleeve-cutter.css?0{_global_.version}">
<div id="atex-sleeve-cutter"
     class="atex-sc atex-brand"
     data-db="{_global_.z}"
     data-xsrf="{_global_.xsrf}"
     data-user="{_global_.user}">
    <div class="atex-sc-loading">Загрузка пульта втулкореза…</div>
</div>
<script src="/download/{_global_.z}/js/sleeve-cutter.js?0{_global_.version}" defer></script>
